# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# 每日早9点到晚8点每2小时运行一次

name: 中青自动阅读(视频)

on:
  workflow_dispatch:
  schedule:
     - cron: '0 0-23/2 * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
      YOUTH_READ: ${{ secrets.YOUTH_READ_VIDEO }}
      YOUTH_READ2: ${{ secrets.YOUTH_READ_VIDEO2 }}
      TZ: Asia/shanghai
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
          
      - name: '运行 【中青看点自动阅读一】'
        if: env.YOUTH_READ
        run: |
          node js/Youth_Read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ_VIDEO }}
          YOUTH_READ: ${{ secrets.YOUTH_ATIME }}
          
      - name: '运行 【中青看点自动阅读二】'
        if: env.YOUTH_READ2
        run: |
          node js/Youth_Read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ_VIDEO2 }}
          YOUTH_READ: ${{ secrets.YOUTH_ATIME }}
          
 